@font-face{
  font-family: AparaPrad;
  src: url(AparaPrad.ttf);


}

.split {
  height: 100%;
  margin: 1;
  width: 50%;
  position: absolute;

  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: rgb(8, 80, 175);
}

.right {
  right: 0;
  background-color: rgb(18, 151, 184);
}

.centered_right {
  margin-right: 10px;
  margin-left: 10px;
  height: 40rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #088dc2;

}

#heading {
  text-align: center;
  font-size: 40px;
  color: black;
  text-decoration: underline;
}

#text_space {
  margin-top: 10rem;
  margin-left: 13rem;
  
}

textarea {
  width: 500px;
  height: 150px;
  font-family: AparaPrad;
  resize: none;
  border-radius: 10px;
  align-items: center;
  size: 10rem;
  font-size: 18px;
}
button {
  margin-left: 13rem;
  border-radius: 10px;
  margin-top: 1rem;
  border: none;
  color: rgb(18, 21, 226);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color:rgb(18, 151, 184);
  color: white;
}


/*===================================================================================
                                    KEYBOARC CSS
=====================================================================================*/



.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #004134;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

.keyFont_apara{
  font-family: AparaPrad;
}



