
@font-face{
    font-family: AparaPrad;
    src: url(AparaPrad.ttf);
  
  
  }
  
  @font-face{
    font-family: Kanada;
  src: url(Nudi-01-e.woff);
  }
  
  #kan {
  font-family: Kanada;
  }
  
  #tulu{
    font-family: AparaPrad;
  }
  
  #eng{
    font-family: 'Times New Roman', Times, serif;
  }



/*-------------MAIN PAGE CSS---------------*/
* {
    margin: 0px;
    padding: 0px;
}
html{
  height:100%;
 /* background-image: radial-gradient(ellipse ,coral, white 75%);*/
}
body{
  /*background-image: linear-gradient(to bottom right, rgb(253, 194, 173), coral);*/
  height: 100%;
  background-color: #e4e3e3;
}
#header{
    font-family: "Muli", sans-serif;
}
h1{
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 100px;
}
ul {
    padding:8px;
    list-style-type: none;
    background-color: #1d1d1d;
    overflow: hidden;
}
li{
    padding:16px;
    display: inline-block;
}
li a{
    color:white;
    text-decoration: none;
    padding:16px;
}
li a:hover{
    color:rgb(211, 205, 211);
}
#search{
    padding:30px;
    margin-left: 25%;
    min-width: 490px;
}
#submit_data{
    background-color: #4CAF50;
    border-radius: 8px;
    padding: 10px 24px;
    vertical-align: middle;
}
#text_area{
    border-radius: 4px;
    padding:5px;
    vertical-align: middle;
    font-family: AparaPrad;
}
#answer{
    /*background-color: #1d1d1d;*/
    /*background-color: #ffcba4;*/
    background-color: white;
    color:black;
    width:400px;
    margin-left: 28%;
    margin-top: 20px;
    padding:25px;
    /*border: 5px solid black;*/
    border: 2px solid rgb(131, 131, 131);
    /*border: 5px solid #ffcba4;*/
    border-radius: 8px;
    font-family: "Muli", sans-serif;
}


/*-------------------END-------------------*/


/*---------------KEYBOARD CSS--------------*/

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
  }
  
  .keyboard--hidden {
    bottom: -100%;
  }
  
  .keyboard__keys {
    text-align: center;
  }
  
  .keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(49, 49, 49, 0.2);
    color: rgb(20, 20, 20);
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
  }
  
  .keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
  }
  
  .keyboard__key--wide {
    width: 12%;
  }
  
  .keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
  }
  
  .keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  
  .keyboard__key--active::after {
    background: #08ff00;
  }
  
  .keyboard__key--dark {
    background: rgb(102, 101, 101);
  }
  
  .keyFont_apara{
    font-family: AparaPrad;
  }


/*-------------------END-------------------*/

/*----------------CONTACT PAGE----------------*/

.container{
  width: 800px;
  margin-left: 300px;
}
h2{
  padding: 30px;
  text-align: center;
  font-size: 40px;
}
#contact_info{
  width: 600px;
  margin-left: 100px;
  margin-top: 10px;
}
#contact_info input{
  width:600px;
  padding: 10px;
  margin: 10px;
  
}
#feedback{
  width:600px;
  padding: 10px;
  margin:10px;
  border-radius: 4px;
}
#send_feed{
  width:625px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 63, 29);
  border-radius: 4px;
}
/*-------------------END----------------------*/