@font-face{
  font-family: AparaPrad;
  src: url(AparaPrad.ttf);


}

.split {
  height: 100%;
  margin: 1;
  width: 50%;
  position: absolute;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color:rgb(219, 136, 2);
}

.right {
  right: 0;
  background-color: rgb(184, 168, 18);
}

.centered_right {
  margin-right: 10px;
  margin-left: 10px;
  height: 40rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;

}

#heading {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
}

#text_space {
  margin-top: 10rem;
  margin-left: 13rem;
  
}

textarea {
  width: 500px;
  height: 150px;
  font-family: AparaPrad;
  resize: none;
  border-radius: 10px;
  align-items: center;
  size: 10rem;
  font-size: 18px;
}
button {
  margin-left: 13rem;
  border-radius: 10px;
  margin-top: 1rem;
  border: none;
  color: rgb(18, 21, 226);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid rgb(238, 168, 6);
}

.button1:hover {
  background-color: rgb(184, 168, 18);
  color: white;
}

/*===================================================================================
                                    SIDE_NAV CSS
=====================================================================================*/


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(100, 78, 4);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}


/*===================================================================================
                                    CARDS CSS
=====================================================================================*/

.center {
  margin: auto;
  width: 23%;
  border: none !important ;
  padding-top: 10%;
  align-content: center;
  top: 10%;


}

.container{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;


}

.container .card{
  position: relative;
  cursor: pointer;
  border: none !important;

}

.container .card .face{
  width: 400px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1{
  position: relative;
  background: rgb(219, 136, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: #cfa311;
  transform: translateY(0);
}

.container .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content{
  opacity: 1;
}


/*
.container .card .face.face1 .content img{
  max-width: 100px;
}
*/


.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}



.container .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}




/*===================================================================================
                                    KEYBOARC CSS
=====================================================================================*/



.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #004134;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}

.keyFont_apara{
  font-family: AparaPrad;
}



