*{
    margin:0;
    padding: 0;
}
body{
    margin:0;
    padding: 0;
    height: 100%;
    background-color: #e4e3e3;
}
ul{
    padding: 20px; 
    list-style-type: none;
    background-color: white;
}
li{
    display:inline-block;
}
li a{
    color:black;
    text-decoration: none;
}
li a:hover{
    color:rgb(97, 95, 95);
    background-color: rgb(167, 165, 165);
    padding:10px;
    border-radius: 4px;
}
header{ 
   padding:20px;
}
.table-container{
    width:600px;
    padding:30px;
    margin-left: 25%;
}
td input{
    width: 300px;
    margin-top: 5px;
    padding:8px;
}
td button{
    margin-top: 5px;
    padding:8px;
    width:40px;
}
#dynamic_table{
    padding-left: 130px;
}

#add{
    background-color: white;
}
.btn-remove{
    background-color: #f44336;
}
#add-to-db{
    background-color: #4CAF50;
    width:200px;
    padding: 5px;
    margin-left: 35%;
    margin-top: 5px;
}


/*------------LOGIN PAGE----------*/

.log-container{
    width: 400px;
    height: 300px;
    border: 1px solid rgb(36, 34, 34);
    border-radius: 8px;
    box-shadow: 5px 10px 8px #888888;
    opacity:75%;
    background-color: white;
    margin-left: 35%;
    margin-top: 10%;
}
h2{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}
#credentials{
    width: 400px;
    margin-left: 3%;
    margin-top: 20px;
}
#credentials input{
    width: 350px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#submit_cred{
    width: 200px;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #024cac;
    border-radius: 4px;
    color: white;
}

/*---------------END--------------*/